{# src/Acme/Bundles/CustomThemeBundle/Resources/views/CreateTable/sync.html.twig #}

{% extends "OroUIBundle:actions:index.html.twig" %}


{% block content %}
     <h1 style="margin-left:25px;">{{ sku }}Products synced successfully.</h1>

     

{% endblock content %}





