{# src/Acme/Bundles/CustomThemeBundle/Resources/views/CreateTable/webservice.html.twig #}

{% extends "OroUIBundle:actions:index.html.twig" %}


{% block content %}
     <p style="margin-left:25px;">{{ sku }}!</p>

    
{% endblock content %}





